@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common classes */
*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}
.comw{
    max-width: 1140px;
    margin: 0 auto;
}
.hamburger{
    display: none;
}
/* header section */

nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
   
}
.nav-title{
    width: 50%;
    display: flex;
    align-items:center;
    gap: 10px;

}
.nav-title h3{
    font-size: 2.25rem;
    font-weight: 700;
}
.nav-title h3 span{
    color: #FF5400;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
.nav-item a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
}
/* End of Header section */

/* Main section design */
/* Banner  Section*/
.banner{
    height: 500px;
    background-image: url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    border: none;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.banner::after{
    content: '';
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 1rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.269);

}
.banner-title{
    font-size: 4rem;
    color: white;
    position: relative;
    z-index: 100;
}
.banner-description{
    color: white;
    position: relative;
    z-index: 100;
}
.banner form{
    width: 69%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255,255,255,.3);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    position: relative;
    z-index: 100;
}
.banner form button{
    width: 175px;
    height: 53px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.banner form input{
    height: 53px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    color: #13131879;
}
.select-btn{
    justify-content: space-around;
    background-color: white;
    color: #13131879;
}
.search-btn{
    justify-content: center;
    gap: 5px;
    background-color: #FF5400;
    color: white;
}
/* End of Banner Section */
.tour{
    /* background-color: aliceblue; */
    display: flex;
    gap: 3%;
    margin-top: 50px;
}
.tour-info{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.tour-info ul{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.tour-info-title{
    font-size: 2.5rem;
    color: #131318;
}
.tour-info-description{
    color: #13131881;
}
.tour-img{
    width: 48%;
}
.tour-img img{
    width: 100%;
}
.tour-btn{
    font-size: 1.2rem;
    width: 175px;
    height: 53px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF5400;
    color: white;
}
/* End of Tour section */

/* Destination Section */
.destination-info{
    text-align: center;
    margin-top: 50px;
}
.destination-info-title{
    font-size: 2.5rem;
    margin: 20px;
}

/* Destination Grid section */
.destination-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.destination-img-1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.destination-img-2{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.destination-img-3{
    display: flex;
   justify-content: space-between;
   gap: 20px;
}

.destination-grid-container img{
    width: 100%;
}
.mother-cell{
    position: relative;
}
.child-cell{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.facilities{
    /* padding: 20px; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.facility-row1{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    /* padding: 20px; */
    /* background-color: skyblue; */
}
.facility-card{
    max-width: 560px;
    height: 282px;
    padding: 20px;
    background-color: rgb(180, 218, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    border: none;
    border-radius: 10px;
}
.facility-row2{
    margin: 0 auto;
}
.swimmingpool{
    margin-top: 50px;
    position: relative;
}
.swimmingpool img{
    width: 100%;
}
.swim-card{
    padding: 50px;
    max-width: 575px;
    background-color: rgba(255, 255, 255, 0.395);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    right: 5%;
}
.swim-time{
    display: flex;
    gap: 20px;
}
.swim-card h4{
    color: red;
}
.booking-btn{
    width: 150px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.swim-img{
    color: red;
}
.identity{
    margin-top: 50px;
    display: flex;
    gap: 3%;
}
.subscribe-section{
    width: 40%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 20px;
}
.subscribe input{
    width: 95%;
    padding: 10px 0;
    padding-left: 20px;

    outline: none;
    border: none;
    background-color: #40404c1c;
    border-radius: 5px;
}
.sub-btn{
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    padding: 10px 0;
    
}
.travel-img{
    width: 57%;
}
.travel-img img{
    width: 100%;
}
hr{
   border: 1px solid lightgray;
}

footer{
    
    margin-top: 50px;
    padding: 50px;
    background-color: #13131811;
    text-align: center;
}
.footer-container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}








/* Responsive design for mobile devices */
@media screen and (max-width:576px) {
    nav{
        padding: 10px;
    }
    .nav-title{
        width: auto;
    }
    .nav-items-container{
        justify-content: end;
        width: auto;
    }
    .nav-item{
        display: none;
    }
    .hamburger{
        display: flex;
        align-items: center;
    }
    .banner{
        justify-content: center;
        gap: 20px;
        margin: 10px;
    }
    .banner-title{
        font-size: 2rem;
        width: 90%;
    }
    .banner-description{
        width: 90%;
    }
    form{
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }
    form button{
        width: 80%;
    }
    form input{
        padding-left: 50px;
        width: 65%;
    }
    .tour{
        margin: 10px;
        flex-direction: column;
        gap: 20px;
    }
    .tour-info{
        width: 100%;
        gap: 10px;
    }
    .tour-info-title{
        font-size: 2rem;
    }
    .tour-img{
        width: 100%;
    }
    .destination-container{
        margin: 10px;
    }
    .destination-img-1{
        flex-direction: column;
    }
    .destination-img-2{
        flex-direction: column;
    }
    .destination-img-3{
        flex-direction: column;
    }
    .mother-cell{
        width: 100%;
        /* margin: 10px; */
    }
    .mother-cell img{
        width: 100%;
    }
    .facilities{
        padding: 10px;
    }
    .facility-row1{
        flex-direction: column;
    }
    .swimmingpool{
        margin: 10px;
        /* height: 500px; */
    }
    .swim-card{
        /* padding: 5px; */
        position: static;
        background-color: aliceblue;
    }
    .identity{
        margin: 10px;
        flex-direction: column;
        gap: 20px;
    }
    .subscribe-section{
        width: 85%;
        gap: 20px;
    }
    .travel-img{
        width: 100%;
    }
    
}
